<configuration debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>


  <logger name="ch.qos.logback" level="ERROR">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="name.neuhalfen" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"  />
  </logger>

  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>